<!-- <p-growl [(value)]="messageModal" life="3000"></p-growl> -->
<!-- <div style="padding: 10px 14px;position: relative;">
  <hy-navbar [totalDB]="totalRecords" [moduleName]="moduleName" [faIcon]="faIcon"></hy-navbar>
  <hy-tableheader [disabledAddNewButton]="disabledAddNewButton" [tableHeader]="moduleName" [addFunctionName]="addFunctionName"
    (addnewSource)="addCountry()"></hy-tableheader>


  <p-dataTable [value]="uniqueHomes" [paginator]="true" [rows]="pageSize" [responsive]="true">
    <p-column field="hostName" header="Host Service" filterMatchMode="contains" [style]="{'text-align':'center'}" [filter]="true"
      [sortable]="true"></p-column>
    <p-column field="cityName" header="City Name" filterMatchMode="contains" [style]="{'text-align':'center'}" [filter]="true"
      [sortable]="true"></p-column>
    <p-column field="contactNo" header="Contact No" filterMatchMode="contains" [style]="{'text-align':'center'}" [filter]="true"
      [sortable]="true"></p-column>
    <p-column styleClass="col-button" [style]="{'width':'200px','cursor':'pointer'}" header="Actions">
      <ng-template let-home="rowData" pTemplate="body">
        <div style="padding-left: 40%">
          <span>
            <i class="fa fa-fw fa-edit fa-lg" (click)="editUniqueHomes(home)"></i>
          </span>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
  <p-paginator [hidden]="totalRecords<pageSize" [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="pageChanged($event)"></p-paginator>

</div> -->






<div style="padding: 10px 14px;position: relative;">
  <hy-navbar [totalDB]="totalRecords" [moduleName]="moduleName" [faIcon]="faIcon"></hy-navbar>
  <hy-tableheader [disabledAddNewButton]="disabledAddNewButton" [tableHeader]="moduleName" [addFunctionName]="addFunctionName"></hy-tableheader>


  <p-dataTable [value]="uniqueHomes" [globalFilter]="gb" [paginator]="false" [pageLinks]="3" [rows]="pageSize" [responsive]="true"
    (onSort)="onSorting($event)" (onFilter)="onFiltering($event)">
    <p-column field="hostName" header="Host Name" filterMatchMode="contains" [style]="{'text-align':'center','word-wrap':'break-word'}" [filter]="true"
      [sortable]="true"></p-column>
    <p-column field="cityName" header="City Name" filterMatchMode="contains" [style]="{'text-align':'center','word-wrap':'break-word'}" [filter]="true"
      [sortable]="true"></p-column>
    <p-column field="contactNo" header="Contact No" filterMatchMode="contains" [style]="{'text-align':'center','word-wrap':'break-word'}" [filter]="true"
      [sortable]="true"></p-column>
    <p-column styleClass="col-button" [style]="{'width':'200px','cursor':'pointer'}" header="Actions">
      <ng-template let-home="rowData" pTemplate="body">
        <div style="padding-left: 40%">
          <span>
            <i class="fa fa-fw fa-edit fa-lg" (click)="editUniqueHomes(home)"></i>
          </span>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
  <p-paginator [hidden]="totalRecords<pageSize" [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="pageChanged($event)"></p-paginator>
</div>