<!-- <p-growl [(value)]="messageModal" life="3000"></p-growl> -->
<div style="padding: 10px 14px;position: relative;">
  <hy-navbar [totalDB]="totalDB" [moduleName]="moduleName" [faIcon]="faIcon"></hy-navbar>
  <hy-tableheader [disabledAddNewButton]="disabledAddNewButton" [tableHeader]="moduleName" [addFunctionName]="addFunctionName"></hy-tableheader>

  <p-dataTable [value]="ServiceCategories" [globalFilter]="gb" scrollable="true" scrollHeight="300px" [rows]="10" [paginator]="true"
    [pageLinks]="10" [responsive]="true">
    <p-column field="svcCatgCode" header="Service Category Code" [style]="{'text-align':'center','word-wrap':'break-word'}" [filter]="true" [sortable]="true" filterMatchMode="contains">
      <ng-template let-serviceCategory="rowData" pTemplate="body">
        <div *ngIf="!serviceCategory.isEdit"> {{serviceCategory.svcCatgCode}} </div>
        <div *ngIf="serviceCategory.isEdit">
          <input type="text" class="form-control custom-width663" [(ngModel)]="serviceCategory.svcCatgCode" />
        </div>
      </ng-template>
    </p-column>
    <p-column field="svcCatgDesc" header="Service Category Desc" [style]="{'text-align':'center','word-wrap':'break-word'}" [filter]="true" [sortable]="true" filterMatchMode="contains">
      <ng-template let-serviceCategory="rowData" pTemplate="body">
        <div *ngIf="!serviceCategory.isEdit"> {{serviceCategory.svcCatgDesc}} </div>
        <div *ngIf="serviceCategory.isEdit">
          <input type="text" class="form-control custom-width663" [(ngModel)]="serviceCategory.svcCatgDesc" />
        </div>
      </ng-template>
    </p-column>
    <p-column field="isActive" header="Is Active" [style]="{'text-align':'center','word-wrap':'break-word'}" [filter]="true"  filterMatchMode="contains"></p-column>
    <p-column styleClass="col-button" [style]="{'width':'200px','cursor':'pointer','word-wrap':'break-word'}" header="Actions">
      <ng-template let-serviceCategory="rowData" pTemplate="body">
        <div style="padding-left: 40%">
          <span>
            <i class="fa fa-fw fa-edit fa-lg" (click)="editServiceCategory(serviceCategory)"></i>
          </span>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>

</div>